/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li, table, form {
    margin: 0;
    padding: 0;
}

/* Set font and background colors */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Header styles */
header {
    background-color: #292f31;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 30px;
    color: #fff;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.register-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #292f31;
    color: #fff;
}

/* Section styles */
section {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.speaker {
    margin-bottom: 20px;
}

.speaker img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.speaker h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.speaker p {
    font-size: 14px;
    color: #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:#292f31;
    color: #fff;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Registration form styles */
form {
    max-width: 400px;
    margin: 0 auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
/* CSS for registration form */
#register {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  #register input[type="text"],
  #register input[type="email"],
  #register input[type="tel"],
  #register input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #register input[type="submit"] {
    background-color: rgba(18, 142, 18, 0.93);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  #register input[type="submit"]:hover {
    background-color: #007bff;
  }
  
  #register .hidden {
    display: none;
  }
  
